Bases de datos/


Deep Learning/


Despliegue/


Fundamentos/Algoritmos y diagramas de flujo/
Fundamentos/Bussines Intelligence Utilidad y areas de oportunidad/
Fundamentos/Como y porque aprender DS e IA/
Fundamentos/Entorno de trabajo para ciencia de datos/Recursos/
Fundamentos/Etica y manejo de datos para Data Science e Inteligencia Artificial/
Fundamentos/Excel/
Fundamentos/Expresiones regulares/Recursos/
Fundamentos/Git y Github/
Fundamentos/Lenguajes de programacion/
Fundamentos/Manejo de datos, estructuras y funciones/
Fundamentos/Manipulacion y transformacion de datos con Pandas y NumPy/Recursos/
Fundamentos/POO/
Fundamentos/Principios de visualizacion de datos para bussines intelligence/
Fundamentos/Python/Basico de python/
Fundamentos/Python/Estructura de datos lineales con Python/Recursos
Fundamentos/Python/Estructura de datos lineales con Python/__pycache__/
Fundamentos/Python/Introduccion a Python/
Fundamentos/Python/POO y algoritmos con Python/Recursos/
Fundamentos/Python/Python intermedio/Recursos/
Fundamentos/Python/Python medio-avanzado/Recursos/
Fundamentos/Terminal y linea de comandos/
Fundamentos/Visualizacion de datos con Matplotlib y Seaborn/Recursos/


Ingenieria de datos/


Machine Learning/


Matematicas/


Visualizacion de datos/